.vehicles {
    background-color: #075d5f;
    color: white;
}

.btn-success {
    background-color: #075d5f;
    color: white;
}

/* .btn-outline-primary{
    background-color: #075d5f;
    color: white;
} */

.login:hover {
    background-color: #075d5f;
    color: white;
}