<nav class="navbar navbar-expand-lg navbar-dark vehicle-navbar">
  <div class="container-fluid">
    <a class="navbar-brand" href="javascript:void(0)">
      <i class="fa fa-car"></i>
      VehicleRental
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarVehicle" aria-controls="navbarVehicle" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarVehicle">
      <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="javascript:void(0)"><i class="fa fa-home"></i> Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/vehicles"><i class="fa fa-car"></i> Vehicles</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/bookings"><i class="fa fa-calendar"></i> Bookings</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="javascript:void(0)"><i class="fa fa-user"></i> Account</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="javascript:void(0)"><i class="fa fa-sign-out"></i> Logout</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
<router-outlet></router-outlet>